{% extends 'base_2.html' %}
{% load static %}
{% block content %}
 <header class="header_2">
    <a href="" class="logo_2">Aryan 
    </a>

    <i class='bx bx-menu' id="menu-icon"></i>
    
        <nav class="navbar_2">
            <a href="#home" class="active">Home</a>
            <a href="#about">About</a>
            <a href="#songs">Songs</a>
            <a href="#mix">Mix</a>
            <a href="#packages">Packages</a>
            <a href="{% url 'contact' %}">Contact</a>
        </nav>
 </header>

 <section class="home" id="home">
    <div class="home-content">
        <h3>Hello It's Me.</h3>
        <h4>Aryan Marzipour</h4>
        <h4>And I'm a professional<span> Mix Engineer</span></h4>
        <p>Lorem ipsum dolor sit amet consectetur,</p>
        <div class="social-media">
            <a href=""><i class='bx bxl-facebook-circle'></i></a>
            <a href=""><i class='bx bxl-instagram'></i></a>
            <a href=""><i class='bx bxl-spotify'></i></a>
            <a href=""><i class='bx bxl-tiktok'></i></a>
        </div>
        <a href="" class="button">Mix a song</a>
    </div>
    <div class="home-img">
        <img src="/static/images/man_1.jpg" alt="">
    </div>
 </section>

 <!--About Section-->

 <section class="about" id="about">
    <div class="about-img">
        <img src="/static/images/man_2.jpg" alt="">
    </div>

    <div class="about-content">
        <h2 class="heading">About <span>Me</span></h2>
        <h3>Mix Engineer</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Adipisci consequuntur illo assumenda iusto ducimus ut,
            reprehenderit error voluptas perferendis distinctio rem saepe 
            dolor possimus aspernatur dignissimos in nulla cumque
            praesentium.</p>
            <a href="" class="button">Read More</a>
    </div>
 </section> 

<section class="home" id="songs">
    <div class="home-content">
        <h2 class="heading">My <span>Songs</span></h2>
        <br>
        <iframe style="border-radius:22px"
            src="https://open.spotify.com/embed/playlist/0Frnmjm2ZqhfIWajU23fKL?utm_source=generator" width="100%" height="352"
            frameBorder="0" allowfullscreen=""
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </div>

</section>


    <section class="about" id="mix">
        <div class="about-content">
            <!--Card 1-->
            <div class="row">
                
                    <div class="card m-3" style="width: 18rem;" >
                        <div class="col">
                        <img class="card-img-top" src="/static/images/unsplash.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>

            <!--Card 2-->
            <div class="card m-3" style="width: 18rem;">
                <div class="col">
                <img class="card-img-top" src="/static/images/unsplash.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                </div>
            </div>
            <!--Card 3-->
            <div class="card m-3" style="width: 18rem;">
                <div class="col">
                <img class="card-img-top" src="/static/images/unsplash.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                </div>
            </div>
            <!--Card 4-->
            <div class="card m-3" style="width: 18rem;">
                <div class="col">
                <img class="card-img-top" src="/static/images/unsplash.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            </div>
        </div>
    </section>

    <!--Mix Section-->
    <section class="packages" id="packages">
        <h2 class="heading">My <span>Packages</span></h2>
        <div class="packages-container">
            <div class="packages-box">
                <img src="/static/images/mix_1.jpg" alt="">
                <div class="packages-layer">
                    <h4>Mix 1</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                    <a href=""><i class='bx bx-link-external'></i></a>
                </div>
            </div>
   

        <div class="packages-box">
            <img src="/static/images/mix_2.jpg" alt="">
            <div class="packages-layer">
                <h4>Mix 2</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                <a href=""><i class='bx bx-link-external'></i></a>
            </div>
        </div>

            <div class="packages-box">
                <img src="/static/images/mix_3.jpg" alt="">
                <div class="packages-layer">
                    <h4>Mix 3</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                    <a href=""><i class='bx bx-link-external'></i></a>
                </div>
            </div>

            <div class="packages-box">
                <img src="/static/images/mix_4.jpg" alt="">
                <div class="packages-layer">
                    <h4>Mix 4</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                    <a href=""><i class='bx bx-link-external'></i></a>
                </div>
            </div>

            <div class="packages-box">
                <img src="/static/images/mix_5.jpg" alt="">
                <div class="packages-layer">
                    <h4>Mix 5</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                    <a href=""><i class='bx bx-link-external'></i></a>
                </div>
            </div>

            <div class="packages-box">
                <img src="/static/images/mix_6.jpg" alt="">
                <div class="packages-layer">
                    <h4>Mix 6</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                    <a href=""><i class='bx bx-link-external'></i></a>
                </div>
            </div>
        </div>
    </section>

    <section class="contact" id="contact" >
        <h2 class="heading">Contact <span>Me</span></h2>
        <form action="">
            <div class="input-box">
                <input type="text" placeholder="Full Name">
                <input type="email" placeholder="Email">
            </div>
            <div class="input-box">
                <input type="number" placeholder="Phone-number">
                <input type="text" placeholder="Subject">
            </div>
            <textarea name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
            <input type="submit" value="Send Message" class="button">
        </form>
    </section>
<script src="{% static '/js/script.js' %}"></script>


{% endblock %}