{% extends 'base_2.html' %}

{% block content %}
 <header class="header_2">
    <a href="" class="logo_2">Aryan 
    </a>

    <i class='bx bx-menu' id="menu-icon"></i>
    
        <nav class="navbar_2">
            <a href="">Home</a>
            <a href="">About</a>
            <a href="">Mix</a>
            <a href="">Service</a>
            <a href="">Resume</a>
        </nav>
 </header>

 <section class="home" id="home">
    <div class="home-content">
        <h3>Hello It's Me.</h3>
        <h4>Aryan Marzipour</h4>
        <h4>And I'm a professional<span> Mix Engineer</span></h4>
        <p>Lorem ipsum dolor sit amet consectetur,</p>
        <div class="social-media">
            <a href=""><i class='bx bxl-facebook-circle'></i></a>
            <a href=""><i class='bx bxl-instagram'></i></a>
            <a href=""><i class='bx bxl-spotify'></i></a>
            <a href=""><i class='bx bxl-tiktok'></i></a>
        </div>
        <a href="" class="button">Mix a song</a>
    </div>
    <div class="home-img">
        <img src="" alt="">
    </div>
 </section>

 <!--About Section-->

 <section class="about" id="about">
    <div class="about-img">
        <img src="" alt="">
    </div>

    <div class="about-content">
        <h2 class="heading">About <span>Me</span></h2>
        <h3>Mix Engineer</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Adipisci consequuntur illo assumenda iusto ducimus ut,
            reprehenderit error voluptas perferendis distinctio rem saepe 
            dolor possimus aspernatur dignissimos in nulla cumque
            praesentium.</p>
            <a href="" class="button">Read More</a>
    </div>
 </section>

{% endblock %}