{% extends 'base.html' %}
{% load static %}

{% block title %}My  Songs{% endblock %}

{% block content %}
<div class="home">
    <div class="home-content">
        <h3>My Songs</h3>
        <ul>
            <li>Song 1</li>
            <li>Song 2</li>
            <li>Song 3</li>
        </ul>
    </div>

        <div class="home-sci">
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-spotify"></i></a>
            <a href=""><i class="fa-brands fa-tiktok"></i></a>
        </div>
        
        <span class="home-imghover"></span>
</div>
{% endblock %}